.darktheme {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(42, 42, 42, 1) 100%
  );
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pog {
  padding: 5px;
  align-content: center;
  transition: all 0.2s ease-in-out;
}

.pog:hover {
  transform: scale(1.05);
}

.lul1,
.lul2,
.lul3 {
  display: none;
}

.monkey1,
.monkey2,
.monkey3 {
}

.monkey1:hover .lul1 {
  display: block;
}
.monkey2:hover .lul2 {
  display: block;
}
.monkey3:hover .lul3 {
  display: block;
}
